*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100%;
    background-image: linear-gradient(45deg, #7879FF, #A3A3FF, #BFBFFF);
    background-size: 200% 200%;

    -webkit-animation: Animation 5s linear infinite;
    -moz-animation: Animation 5s linear infinite;
    animation: Animation 5s linear infinite;
}

@-webkit-keyframes Animation {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@keyframes Animation { 
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}